<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<div class="row 100% uniform">
				<div class="12u 12u$(medium) links">
					<section>
						<h2>Free training session</h2>
						<p>Share your number with me and I'll get in touch to book your free 45 minute taster session, to help you decide whether personal training is right for you.</p>
						<form action="https://formspree.io/f/mrgjeaka" method="POST">
							<div class="field half first">
								<label for="name">Name</label>
								<input type="text" name="name" id="name" />
							</div>
							<div class="field half">
								<label for="email">Phone number</label>
								<input type="text" name="_replyto" id="email" />
							</div>
							<!-- <div class="field">
								<label for="name">Requested date</label>
								<input type="date" name="date" id="date" />
							</div> -->
							<div class="field">
								<label for="message">Message</label>
								<textarea name="message" id="message" rows="6"></textarea>
							</div>
							<ul class="actions">
								<li><input type="submit" value="Send enquiry"  /></li>
								<!-- <li><input type="reset" value="Clear" /></li> -->
							</ul>
						</form>
					</section>
					<div class="footerbox">
						<p style="margin-bottom: 0">&copy; {{ site.title }} 2022&nbsp;&nbsp;|&nbsp;&nbsp;{{ site.subtitle }}&nbsp;&nbsp;|&nbsp;&nbsp;Website by <a href="https://johnhayn.es" target="_blank">John Haynes</a>
					</div>
					<div class="footerbox">
						<ul class="icons">
							{% if site.facebook_url %}
							<li><a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
							{% endif %}
							{% if site.twitter_url %}
							<li><a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
							{% endif %}
							{% if site.instagram_url %}
							<li><a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
							{% endif %}
							{% if site.linkedin_url %}
							<li><a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}"></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}"></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}"></script>
